/* styles from https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
.transactions__table {
  overflow-y: scroll;
  display: block;
}
.transactions__regenerate-btn {
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  cursor: pointer;
  border: none;
  border-radius: 1em;
  padding: 1em;
}
.transactions__filters * {
  color: var(--main-color);
}
.transactions__filters {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding: 5px;
  border: 1px solid var(--main-color);
  border-radius: 5px 5px;
}
.transactions__month-filter__select {
  border-radius: 5px 5px;
  padding: 5px;
  width: 20em;
  border: 0;
}
.transactions__month-filter__select:focus {
  border-color: var(--main-color);
  outline-color: var(--main-color);
}
.transactions__search-customer__input {
  border-radius: 5px 5px;
  padding: 5px;
  width: 20em;
  border: none;
}
.transactions__search-customer__input:focus {
  border-radius: 2px;
  border-color: var(--main-color);
  outline-color: var(--main-color);
}
.transactions__header {
  color: var(--main-color);
}
