/* styles from https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */

.rewards__show-btn {
  border: none;
  border-radius: 5px 5px;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  background-color: var(--main-color);
  cursor: pointer;
}
.rewards__header {
  color: var(--main-color);
}
