:root {
  --main-color: #009879;
  --font-family: Noto sans;
  --header-bg-color: rgb(34, 21, 21);
  --highlight-color: #b1cdcf;
  --outline-color: rgb(150, 148, 31);
}
* {
  font-family: var(--font-family);
}
::selection {
  background: var(--highlight-color);
}
body {
  padding-bottom: 3em;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
table {
  height: 25em;
  width: 35em;
  border-collapse: collapse;
  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
  background-color: var(--main-color);
  color: #ffffff;
  text-align: left;
}
table th,
table td {
  padding: 12px 15px;
  width: 10em;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--ma);
}
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
