:root {
  --font-family: Noto sans;
  --header-bg-color: rgb(34, 21, 21);
  --font-size: 12px;
  --highlight-color: rgb(191, 191, 51);
  --outline-color: rgb(150, 148, 31);
}
* {
  font-family: var(--font-family);
}
::selection {
  background: var(--highlight-color);
}
body {
  padding-bottom: 3em;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
